:root{
  --primaray-color:#845ce6;
  --color:#ffffff;
  --background-btn:#6945e6;
  --link-color:#5271ff;
}

.feed-bar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding:10x;
    margin: 10px;
    
}

.feed-bar >div{
    font-size: 16px;
    font-weight: bold;
    color: var(--link-color);
    cursor: pointer;
    padding: 5px 15px;
    border: 1px solid var(--primaray-color);
    border-radius: 5px;
    background-color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
    float: right;
 
  }
  
  .feed-bar >div:hover{
    background-color:var(--background-btn);
    color: white;
  }
  
.feed-bar .active {
    background-color:var(--background-btn);
    color: white;
    font-weight: bold;
  }