.feed {
    display: flex;
    flex-direction: column;
  }
  
  .post {
    padding:0;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  .post, .post-image{
    width: 100%;
    height:auto;
    border-radius:0;
  }
.post-likebar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

}
.sep-post{
  border-bottom: 1px solid #fff;
  padding-top: 10px;
  border-bottom:15px ;
}
  .add-story{
    padding: 20px;
    margin-top: 20px;
    margin: 20px;

  }
  .menu-dot{
  float: right;
  top: 0;
  margin-top:0 ;
  }
  .username-post{
    color: #1b1b1d;
    font-size: 18px;
    font-weight: bold;
    text-justify: inter-word;
    padding: 5px;
    padding-left: 50px;
  }

  .user-Image{
    width: 30px;
    float: left;
    border-radius: 50%;

  }
  .feed-content{
    padding:8px;
    text-align: justify;
    text-wrap:wrap;
    margin-block-end: 0;
    margin-block-start: 0;
   margin: 0;
   padding-block-start: 0;
  }
.sep-feed{
  border-bottom: 1px solid #fff;
}