:root{
  --primaray-color:#845ce6;
  --color:#ffffff;
  --background-btn:#6945e6;
}

.left-sidebar ul {
    list-style: none;
    padding: 20px;
}
  
  .left-sidebar li {
    padding: 10px 0;
    cursor: pointer;
  }
  
  .left-sidebar li:hover {
    color: #4267B2;
  }
  .left-sidebar{
    float: left;
    left: 0;
  }
