:root{
  --primaray-color:#845ce6;
  --color:#ffffff;
  --background-btn:#6945e6;
}

.right-sidebar {
    display: flex;
    flex-direction: column;
  }
  
  .right-sidebar div {
    padding: 10px;
    background-color: #313131;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  .online-indicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: green;
    margin-right: 8px;
    display: inline-block;
  }
  .min-time{
    font-size: 14px;
    margin: 20px;
    font-style: italic;
  }
  .online-users{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  }
  .online-users:hover{
    background-color: #524e4e;
    color: var(--color);
    text-decoration: underline;
  }
  .button-online{
   float: right;

  }
