.stories {

    display: flex;
    overflow-x: auto;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    margin-bottom: 20px;
    scrollbar-width:none; /* Firefox */
    align-content: center;
  }
  
  .story {
    flex: 0 0 auto;
    width: 80px;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
  }
  
  .story-image {
    width: 100%;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #4267B2; /* Border color to make it stand out */
  }
  
  .story-name {
    margin-top: 5px;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .stories::-webkit-scrollbar {
    height: 8px;
  }
  
  .stories::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
  }
  
  .memory{
    font-size: 20ppx;
    font-weight: bold;
    color: #4267B2;

  }
  .create-memory{
    align-self: center;
    background-color: #ccc;
    padding:20px;
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 5px;
  }